customtkinter>=5.2.2
ctk-markdown>=0.1.4
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-ollama>=0.2.0
langchain-community>=0.3.0
langchain-core>=0.3.0
ollama>=0.3.0
python-dotenv>=1.0.1
Babel>=2.15.0
SpeechRecognition>=3.10.4
pyaudio>=0.2.14
openai>=1.51.0

pillow
babel-cli